{
  "BasedOnStyle": "Google",
  "Language": "Cpp",
  "IndentWidth": 4,
  "AccessModifierOffset": -2,
  "AlignAfterOpenBracket": "Align",
  "AlignConsecutiveAssignments": false,
  "AlignConsecutiveDeclarations": false,
  "AlignEscapedNewlinesLeft": false,
  "AlignOperands": true,
  "SortIncludes" : false,
  "AllowShortBlocksOnASingleLine": false,
  "AllowShortIfStatementsOnASingleLine": true,
  "AllowShortFunctionsOnASingleLine": "Empty",
  "NamespaceIndentation": "All",
  "IndentCaseLabels": false,
  "BreakBeforeBraces": "Stroustrup",
  "ColumnLimit": 80,
  "MaxEmptyLinesToKeep" :  2,
}
