{
  "BasedOnStyle": "Google",
  "Language": "Cpp",
  "IndentWidth": 4,
  "AccessModifierOffset": -4,
  "AlignAfterOpenBracket": "Align",
  "AlignConsecutiveAssignments": false,
  "AlignConsecutiveDeclarations": false,
  "AlignEscapedNewlinesLeft": false,
  "AlignOperands": true,
  "SortIncludes" : false,
  "AllowShortBlocksOnASingleLine": false,
  "AllowShortIfStatementsOnASingleLine": true,
  "AllowShortFunctionsOnASingleLine": "Empty",
  "NamespaceIndentation": "All",
  "IndentCaseLabels": false,
  "BraceWrapping": {
    "BeforeCatch": true,
    "BeforeElse": true,
  },
  "BreakBeforeBraces": "Custom",
  "ColumnLimit": 80,
  "MaxEmptyLinesToKeep":  3,
}
